/* line 14, sass/main.sass */
body {
  font-family: "RobotoRegular", sans-serif, "Raleway", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
}

/* line 25, sass/main.sass */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 28, sass/main.sass */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 32, sass/main.sass */
.hidden {
  display: none;
}

/* line 35, sass/main.sass */
h1 {
  color: #FFAB00;
  font-size: 60px;
  line-height: 56px;
  font-weight: bold;
  font-family: CleanvertisingLight, sans-serif;
  margin: 0;
}
@media only screen and (min-width: 1440px) {
  /* line 35, sass/main.sass */
  h1 {
    font-size: 100px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 35, sass/main.sass */
  h1 {
    font-size: 35px;
    line-height: 1.1;
  }
}

/* line 52, sass/main.sass */
section {
  padding: 56px 0 68px;
}
/* line 54, sass/main.sass */
section h2 {
  color: #FFAB00;
  font-size: 50px;
  line-height: 40px;
}

/* line 60, sass/main.sass */
header {
  min-height: 600px;
  background-image: url(../img/mainBG.jpeg);
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  color: #FFAB00;
}
/* line 67, sass/main.sass */
header .heder-logo-tel {
  margin-top: 30px;
}
/* line 69, sass/main.sass */
header .logo {
  font-size: 40px;
  font-family: "RobotoRegular", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  /* line 69, sass/main.sass */
  header .logo {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
  }
}
/* line 78, sass/main.sass */
header .fon-white {
  background: rgba(100, 100, 100, 0.7);
  width: 100%;
  height: 100%;
}

/* line 96, sass/main.sass */
.tel {
  text-align: right;
}
/* line 84, sass/main.sass */
.tel .js-wrapper .active {
  color: #FF7100;
  text-decoration: underline;
}
/* line 87, sass/main.sass */
.tel .js-wrapper .tab {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 91, sass/main.sass */
.tel .js-wrapper .tab_item {
  color: #FF7100;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "RobotoBold";
}
@media only screen and (max-width: 768px) {
  /* line 96, sass/main.sass */
  .tel {
    text-align: center;
  }
}

/* line 103, sass/main.sass */
.tabs-heder {
  margin: 50px 0 20px;
}
@media only screen and (max-width: 768px) {
  /* line 103, sass/main.sass */
  .tabs-heder {
    font-size: 12px;
    margin-top: 25px;
  }
}
/* line 109, sass/main.sass */
.tabs-heder .tabs .tab {
  display: inline-block;
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  font-family: "RobotoBold", sans-serif;
  color: #FFD700;
  /*+transition(all .2s ease) */
}
/* line 119, sass/main.sass */
.tabs-heder .tabs .tab.active {
  background-color: rgba(255, 255, 255, 0.85);
  color: #FF7100;
}
/* line 122, sass/main.sass */
.tabs-heder .tab_content {
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 25px 20px;
}
/* line 123, sass/main.sass */
.tabs-heder .tab_content ul, .tabs-heder .tab_content li {
  margin: 0;
  padding: 0;
}
/* line 126, sass/main.sass */
.tabs-heder .tab_content li {
  list-style-type: none;
  min-height: 45px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  z-index: 1;
}
/* line 133, sass/main.sass */
.tabs-heder .tab_content li:hover {
  top: -3px;
  /*zoom: 1.1 */
  z-index: 2;
}
/* line 137, sass/main.sass */
.tabs-heder .tab_content h4 {
  padding: 14px 0 14px 65px;
  margin: 0;
  vertical-align: middle;
}

/* line 147, sass/main.sass */
.bg-image {
  height: 45px;
  width: 45px;
  float: left;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 154, sass/main.sass */
.caption {
  color: #FFAB00;
  margin-top: 80px;
}
/* line 156, sass/main.sass */
.caption h2 {
  font-weight: bold;
  margin: 0;
  font-family: "CleanvertisingLight";
}
@media only screen and (max-width: 768px) {
  /* line 154, sass/main.sass */
  .caption {
    text-align: center;
    font-size: 40px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 154, sass/main.sass */
  .caption {
    font-size: 25px;
  }
}

/* line 167, sass/main.sass */
.button--wrappe {
  text-align: right;
}
/* line 170, sass/main.sass */
.button--wrappe a:hover, .button--wrappe a:focus, .button--wrappe a:active {
  text-decoration: none;
  color: #fff;
}

/* line 190, sass/main.sass */
.button {
  border: none;
  cursor: pointer;
  padding: 0 32px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  background-color: #000;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "RobotoRegular";
}
/* line 192, sass/main.sass */
.button.btn_red {
  background-color: #FF7100;
}

/* line 195, sass/main.sass */
a .button {
  text-decoration: none;
  color: #fff;
}
