/*--------------------------  START MEDIA REQUEST  -------------------------- */
@media only screen and (max-width: 1440px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 3.18881em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 2.3958em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.8em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 1.35237em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 2.3958em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 1.35237em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 2.3958em;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 2.89892em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 2.178em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.63636em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 1.22942em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 2.178em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 1.22942em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 2.178em;
  }
}
@media only screen and (max-width: 992px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 2.63538em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 1.98em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.4876em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 1.11766em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 1.98em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 1.11766em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 1.98em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 2.3958em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 1.8em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.35237em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 1.01605em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 1.8em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 1.01605em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 2.178em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 1.63636em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.22942em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 0.92368em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 1.63636em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 0.92368em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 1.63636em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 25, sass/main.sass */
  h1 {
    font-size: 1.98em;
  }

  /* line 27, sass/main.sass */
  h2 {
    font-size: 1.4876em;
  }

  /* line 29, sass/main.sass */
  h3 {
    font-size: 1.11766em;
  }

  /* line 31, sass/main.sass */
  h4 {
    font-size: 0.83971em;
  }

  /* line 33, sass/main.sass */
  .tel .tab_content {
    font-size: 1.4876em;
  }

  /* line 35, sass/main.sass */
  .tel .tabs {
    font-size: 0.83971em;
  }

  /* line 37, sass/main.sass */
  .logo {
    font-size: 1.4876em;
  }
}
/*--------------------------  END MEDIA REQUEST  -------------------------- */
/* line 43, sass/main.sass */
body {
  font-family: "RobotoRegular", sans-serif, "Raleway", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

/* line 54, sass/main.sass */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 57, sass/main.sass */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 61, sass/main.sass */
.hidden {
  display: none;
}

/* line 64, sass/main.sass */
h1 {
  color: #FFAB00;
  font-weight: bold;
  font-family: CleanvertisingLight, sans-serif;
  margin: 0;
}

/* line 70, sass/main.sass */
header {
  min-height: 600px;
  background-image: url(../img/mainBG.jpeg);
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  color: #FFAB00;
}
/* line 77, sass/main.sass */
header .heder-logo-tel {
  margin-top: 30px;
}
/* line 79, sass/main.sass */
header .logo {
  vertical-align: middle;
  font-family: "RobotoRegular", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  /* line 79, sass/main.sass */
  header .logo {
    text-align: center;
    margin-bottom: 15px;
  }
}
/* line 87, sass/main.sass */
header .fon-white {
  background: rgba(100, 100, 100, 0.8);
  width: 100%;
  height: 100%;
}

/* line 104, sass/main.sass */
.tel {
  text-align: right;
}
/* line 93, sass/main.sass */
.tel .js-wrapper .active {
  color: #FF7100;
  text-decoration: underline;
}
/* line 96, sass/main.sass */
.tel .js-wrapper .tab {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 100, sass/main.sass */
.tel .js-wrapper .tab_item {
  color: #FF7100;
  text-transform: uppercase;
  font-family: "RobotoBold";
}
@media only screen and (max-width: 992px) {
  /* line 104, sass/main.sass */
  .tel {
    text-align: center;
  }
}

/* line 111, sass/main.sass */
.tabs-heder {
  margin: 50px 0 20px;
}
@media only screen and (max-width: 768px) {
  /* line 111, sass/main.sass */
  .tabs-heder {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 117, sass/main.sass */
  .tabs-heder .tabs:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FF7100;
  }
}
/* line 123, sass/main.sass */
.tabs-heder .tabs .tab {
  display: inline-block;
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  font-family: "RobotoBold", sans-serif;
  color: #FFD700;
  /*+transition(all .2s ease) */
}
@media only screen and (max-width: 480px) {
  /* line 123, sass/main.sass */
  .tabs-heder .tabs .tab {
    display: block;
    width: 100%;
  }
  /* line 128, sass/main.sass */
  .tabs-heder .tabs .tab.active {
    font-weight: bold;
  }
}
/* line 138, sass/main.sass */
.tabs-heder .tabs .tab.active {
  background-color: rgba(255, 255, 255, 0.85);
  color: #FF7100;
}
/* line 141, sass/main.sass */
.tabs-heder .tab_content {
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 25px 20px;
}
/* line 142, sass/main.sass */
.tabs-heder .tab_content ul, .tabs-heder .tab_content li {
  margin: 0;
  padding: 0;
}
/* line 145, sass/main.sass */
.tabs-heder .tab_content li {
  list-style-type: none;
  min-height: 45px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  z-index: 1;
}
/* line 152, sass/main.sass */
.tabs-heder .tab_content li:hover {
  top: -3px;
  z-index: 2;
}
/* line 155, sass/main.sass */
.tabs-heder .tab_content h4 {
  padding: 14px 0 14px 65px;
  margin: 0;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  /* line 141, sass/main.sass */
  .tabs-heder .tab_content {
    padding: 10px;
  }
}

/* line 168, sass/main.sass */
.bg-image {
  height: 45px;
  width: 45px;
  float: left;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 175, sass/main.sass */
.caption {
  margin-top: 80px;
  color: #FFAB00;
}
/* line 178, sass/main.sass */
.caption h2 {
  font-weight: bold;
  margin: 0;
  font-family: "CleanvertisingLight";
}
@media only screen and (max-width: 992px) {
  /* line 175, sass/main.sass */
  .caption {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 175, sass/main.sass */
  .caption {
    margin-top: 20px;
    text-align: center;
  }
}

/* line 188, sass/main.sass */
.button--wrappe {
  text-align: right;
  margin-top: 15px;
}
@media only screen and (max-width: 480px) {
  /* line 188, sass/main.sass */
  .button--wrappe {
    text-align: center;
  }
}
/* line 194, sass/main.sass */
.button--wrappe a:hover, .button--wrappe a:focus, .button--wrappe a:active {
  text-decoration: none;
  color: #fff;
}

/* line 213, sass/main.sass */
.button {
  border: none;
  cursor: pointer;
  padding: 0 32px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "RobotoRegular";
}
@media only screen and (max-width: 480px) {
  /* line 213, sass/main.sass */
  .button {
    padding: 0 16px;
  }
}
/* line 217, sass/main.sass */
.button.btn_red {
  background-color: #FF7100;
}

/* line 220, sass/main.sass */
a .button {
  text-decoration: none;
  color: #fff;
}

/* line 224, sass/main.sass */
.back_call {
  padding: 80px 0;
  text-align: center;
  border-bottom: 30px solid #FFD700;
  border-bottom-right-radius: 60% 15%;
  border-bottom-left-radius: 60% 15%;
  background-color: #FFD700;
}
/* line 232, sass/main.sass */
.back_call h3 {
  text-transform: uppercase;
}
/* line 234, sass/main.sass */
.back_call input {
  margin: 20px 20px 0;
  display: inline-block;
  padding: 7px;
}
/* line 238, sass/main.sass */
.back_call input[type="submit"] {
  padding: 7px 60px;
  text-transform: uppercase;
  border-radius: 5px;
}
