/* line 15, sass/main.sass */
html {
  font-size: 16px;
}

/*--------------------------  START MEDIA REQUEST  -------------------------- */
@media only screen and (max-width: 2600px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 3.36597em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 2.78179em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 2.299em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.9em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.9em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.9em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 2.78179em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.9em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 2.78179em;
  }
}
@media only screen and (max-width: 1900px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 3.05997em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 2.5289em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 2.09em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.72727em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.72727em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.72727em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 2.5289em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.72727em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 2.5289em;
  }
}
@media only screen and (max-width: 1440px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 2.78179em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 2.299em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.9em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.57025em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.57025em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.57025em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 2.299em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.57025em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 2.299em;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 2.5289em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 2.09em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.72727em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.4275em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.4275em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.4275em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 2.09em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.4275em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 2.09em;
  }
}
@media only screen and (max-width: 992px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 2.299em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 1.9em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.57025em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.29773em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.29773em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.29773em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 1.9em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.29773em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 1.9em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 2.09em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 1.72727em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.4275em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.17975em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.17975em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.17975em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 1.72727em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.17975em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 1.72727em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 1.9em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 1.57025em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.29773em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 1.0725em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 1.0725em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 1.0725em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 1.57025em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 1.0725em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 1.57025em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 26, sass/main.sass */
  h1 {
    font-size: 1.72727em;
  }

  /* line 28, sass/main.sass */
  h2 {
    font-size: 1.4275em;
  }

  /* line 30, sass/main.sass */
  h3 {
    font-size: 1.17975em;
  }

  /* line 32, sass/main.sass */
  h4 {
    font-size: 0.975em;
  }

  /* line 34, sass/main.sass */
  p {
    font-size: 0.975em;
  }

  /* line 36, sass/main.sass */
  td, th {
    font-size: 0.975em;
  }

  /* line 38, sass/main.sass */
  .tel .tab_content {
    font-size: 1.4275em;
  }

  /* line 40, sass/main.sass */
  .tel .tabs {
    font-size: 0.975em;
  }

  /* line 42, sass/main.sass */
  .logo {
    font-size: 1.4275em;
  }
}
/*--------------------------  END MEDIA REQUEST  -------------------------- */
/* line 49, sass/main.sass */
body {
  font-family: "RobotoRegular", sans-serif, "Raleway", sans-serif;
  color: #333;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

/* line 59, sass/main.sass */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 62, sass/main.sass */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 66, sass/main.sass */
.hidden {
  display: none;
}

/* line 69, sass/main.sass */
.fade {
  overflow: scroll;
  font-family: "RobotoRegular";
}
/* line 71, sass/main.sass */
.fade button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3em;
}
/* line 76, sass/main.sass */
.fade .modal-header {
  background-color: #FF7100;
}
/* line 78, sass/main.sass */
.fade .modal-title {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
/* line 83, sass/main.sass */
.fade .modal-body .number {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
/* line 87, sass/main.sass */
.fade .modal-body .name {
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  /* line 89, sass/main.sass */
  .fade .modal-footer {
    text-align: center;
  }
}
/* line 92, sass/main.sass */
.fade .modal-footer button {
  padding: 7px 32px;
  cursor: pointer;
  display: inline-block;
  height: 45px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

/* line 104, sass/main.sass */
h1 {
  font-weight: bold;
  font-family: CleanvertisingLight, sans-serif;
  margin: 0;
}

/* line 109, sass/main.sass */
header {
  min-height: 600px;
  background-image: url(../img/mainBG.jpeg);
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #FFAB00;
}
/* line 117, sass/main.sass */
header .heder-logo-tel {
  margin-top: 30px;
}
/* line 119, sass/main.sass */
header .logo {
  vertical-align: middle;
  font-family: "RobotoRegular", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  /* line 119, sass/main.sass */
  header .logo {
    text-align: center;
    margin-bottom: 15px;
  }
}
/* line 127, sass/main.sass */
header .fon-white {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

/* line 144, sass/main.sass */
.tel {
  text-align: right;
}
/* line 133, sass/main.sass */
.tel .js-wrapper .active {
  color: #FF7100;
  text-decoration: underline;
}
/* line 136, sass/main.sass */
.tel .js-wrapper .tab {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 140, sass/main.sass */
.tel .js-wrapper .tab_item {
  color: #FF7100;
  text-transform: uppercase;
  font-family: "RobotoBold";
}
@media only screen and (max-width: 992px) {
  /* line 144, sass/main.sass */
  .tel {
    text-align: center;
  }
}

/* line 151, sass/main.sass */
.tabs-heder {
  margin: 50px 0 20px;
}
@media only screen and (max-width: 768px) {
  /* line 151, sass/main.sass */
  .tabs-heder {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 157, sass/main.sass */
  .tabs-heder .tabs:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FF7100;
  }
}
/* line 163, sass/main.sass */
.tabs-heder .tabs .tab {
  display: inline-block;
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  font-family: "RobotoBold", sans-serif;
  color: #FFD700;
  /*+transition(all .2s ease) */
}
@media only screen and (max-width: 480px) {
  /* line 163, sass/main.sass */
  .tabs-heder .tabs .tab {
    display: block;
    width: 100%;
  }
  /* line 168, sass/main.sass */
  .tabs-heder .tabs .tab.active {
    font-weight: bold;
  }
}
/* line 178, sass/main.sass */
.tabs-heder .tabs .tab.active {
  background-color: rgba(255, 255, 255, 0.85);
  color: #FF7100;
}
/* line 181, sass/main.sass */
.tabs-heder .tab_content {
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 25px 20px;
}
/* line 182, sass/main.sass */
.tabs-heder .tab_content ul, .tabs-heder .tab_content li {
  margin: 0;
  padding: 0;
}
/* line 185, sass/main.sass */
.tabs-heder .tab_content li {
  list-style-type: none;
  min-height: 45px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  z-index: 1;
}
/* line 192, sass/main.sass */
.tabs-heder .tab_content li:hover {
  top: -3px;
  z-index: 2;
}
/* line 195, sass/main.sass */
.tabs-heder .tab_content h4 {
  padding: 14px 0 14px 65px;
  margin: 0;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  /* line 181, sass/main.sass */
  .tabs-heder .tab_content {
    padding: 10px;
  }
}

/* line 208, sass/main.sass */
.bg-image {
  height: 45px;
  width: 45px;
  float: left;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 215, sass/main.sass */
.caption {
  margin-top: 80px;
  color: #FFAB00;
}
/* line 218, sass/main.sass */
.caption h2 {
  font-weight: bold;
  margin: 0;
  font-family: "CleanvertisingLight";
}
@media only screen and (max-width: 992px) {
  /* line 215, sass/main.sass */
  .caption {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 215, sass/main.sass */
  .caption {
    margin-top: 20px;
    text-align: center;
  }
}

/* line 228, sass/main.sass */
.button--wrappe {
  text-align: right;
  margin-top: 15px;
}
@media only screen and (max-width: 480px) {
  /* line 228, sass/main.sass */
  .button--wrappe {
    text-align: center;
  }
}
/* line 234, sass/main.sass */
.button--wrappe a:hover, .button--wrappe a:focus, .button--wrappe a:active {
  text-decoration: none;
  color: #fff;
}

/* line 253, sass/main.sass */
.button {
  border: none;
  cursor: pointer;
  padding: 0 32px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "RobotoRegular";
}
@media only screen and (max-width: 480px) {
  /* line 253, sass/main.sass */
  .button {
    padding: 0 16px;
  }
}
/* line 257, sass/main.sass */
.button.btn_red {
  background-color: #FF7100;
}

/* line 260, sass/main.sass */
a .button {
  text-decoration: none;
  color: #fff;
}

/* line 266, sass/main.sass */
.picture-letter-a {
  background-image: url("../img/a.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 266, sass/main.sass */
.picture-letter-b {
  background-image: url("../img/b.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 266, sass/main.sass */
.picture-letter-c {
  background-image: url("../img/c.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 266, sass/main.sass */
.picture-letter-d {
  background-image: url("../img/d.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 273, sass/main.sass */
.tizer {
  padding: 30px 0;
  text-align: center;
  background-color: #FF7100;
}
/* line 277, sass/main.sass */
.tizer h2 {
  margin: 0 0 35px;
}
/* line 279, sass/main.sass */
.tizer .button--project {
  margin: 25px 15px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 279, sass/main.sass */
  .tizer .button--project {
    margin: 7px;
    font-size: 14px;
  }
}

/* line 291, sass/main.sass */
.js-project .tabs .tab {
  display: inline-block;
  vertical-align: middle;
}
/* line 294, sass/main.sass */
.js-project .tabs > .active .project-img {
  box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}
/* line 297, sass/main.sass */
.js-project .tab_content .tab_item {
  display: block;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 5px;
}
/* line 303, sass/main.sass */
.js-project .tab_content .tab_item p {
  vertical-align: middle;
}
/* line 305, sass/main.sass */
.js-project .project-img {
  margin: 4vmin;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
  box-shadow: inset 0 0 0 8px rgba(255, 113, 0, 0.6);
}
@media only screen and (min-width: 1500px) {
  /* line 305, sass/main.sass */
  .js-project .project-img {
    width: 200px;
    height: 200px;
    margin: 36px;
  }
}
/* line 317, sass/main.sass */
.js-project .content-img {
  border-radius: 15px 0 0 15px;
  border-radius-border-radius: 15px;
  display: block;
  max-width: 100%;
  height: 300px;
}

/* line 326, sass/main.sass */
.back_call {
  padding: 80px 0;
  text-align: center;
  border-bottom: 30px solid #FFD700;
  border-bottom-right-radius: 70% 15%;
  border-bottom-left-radius: 70% 15%;
  background-color: #FFD700;
}
/* line 333, sass/main.sass */
.back_call h3 {
  text-transform: uppercase;
}
/* line 335, sass/main.sass */
.back_call input {
  margin: 20px 20px 0;
  display: inline-block;
  padding: 7px 7px 7px 20px;
}
/* line 339, sass/main.sass */
.back_call input[type="submit"] {
  padding: 7px 70px;
  text-transform: uppercase;
  border-radius: 5px;
}

/* line 351, sass/main.sass */
button,
button:active,
button:focus,
button:hover,
button:checked,
button:default,
input {
  outline: none;
}

@media only screen and (min-width: 1400px) and (min-height: 850px) {
  /* line 361, sass/main.sass */
  .caption {
    margin-top: 100px;
  }

  /* line 363, sass/main.sass */
  .tabs-heder {
    margin-top: 100px;
  }

  /* line 365, sass/main.sass */
  .heder-logo-tel {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 2000px) and (min-height: 1100px) {
  /* line 368, sass/main.sass */
  .caption {
    margin-top: 200px;
  }

  /* line 370, sass/main.sass */
  .tabs-heder {
    margin-top: 200px;
  }

  /* line 372, sass/main.sass */
  .heder-logo-tel {
    margin-top: 100px;
  }

  /* line 374, sass/main.sass */
  .tizer img {
    max-width: 230px;
    max-height: 230px;
  }
}
@media only screen and (min-width: 2500px) and (min-height: 1400px) {
  /* line 378, sass/main.sass */
  .caption {
    margin-top: 250px;
  }

  /* line 380, sass/main.sass */
  .tabs-heder {
    margin-top: 250px;
  }

  /* line 382, sass/main.sass */
  .heder-logo-tel {
    margin-top: 150px;
  }
}
