@import "bourbon/bourbon"

$text-color: #333

$font-size: 16px
$em-base: 16px //bourbon

$main-font-family: "RobotoRegular", sans-serif

$main-color: #FFAB00
$add-color1: #FFD700
$add-color2: #FF7100
$contr-color: #123EAB
$add-contr-fon: #466FD5 
html
	font-size: $font-size
/*--------------------------  START MEDIA REQUEST  --------------------------*/
$modular-scale-ratio: 1.1 //$golden=1.618 //bourbon
$modular-scale-base: 1.8em //bourbon
// $max-screen-width: (screen0: 2600px,screen1: 1900px, screen2: 1440px, screen3: 1200px, screen4: 992px, screen5: 768px, screen6: 480px, screen7: 320px)
$max-screen-width: (screen0: 1440px, screen1: 1200px, screen2: 992px, screen3: 768px, screen4: 480px, screen5: 320px)

@for $i from 0 through 5
	@if map_has_key($max-screen-width, screen#{$i})
		@media only screen and (max-width :  map_get($max-screen-width, screen#{$i}))
			h1
				font-size: modular-scale(6 - $i) //bourbon function
			h2
				font-size: modular-scale(3 - $i) //bourbon function
			h3
				font-size: modular-scale(0 - $i) //bourbon function
			h4
				font-size: modular-scale(-3 - $i) //bourbon function
			p 
				font-size: modular-scale(-3 - $i) //bourbon function	
			.tel .tab_content //h2
				font-size: modular-scale(3 - $i) //bourbon function
			.tel .tabs //h3-h4
				font-size: modular-scale(-3 - $i)//bourbon function
			.logo
				font-size: modular-scale(3 - $i) //bourbon function

/*--------------------------  END MEDIA REQUEST  --------------------------*/



body
	font-family: $main-font-family,"Raleway", sans-serif
	color: $text-color
	font-weight: normal
	min-width: 320px
	position: relative
	line-height: 1.43
	-webkit-font-smoothing: antialiased


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
button, 
button:active, 
button:focus,
input
	outline: none

h1
	color: $main-color
	font-weight: bold
	font-family: CleanvertisingLight, sans-serif
	margin: 0

header
	min-height: 600px
	background-image: url(../img/mainBG.jpeg)
	background-position: top center
	-webkit-background-size: cover
	background-size: cover
	color: $main-color
	.heder-logo-tel
		margin-top: 30px
	.logo
		@media only screen and (max-width : 992px)
			text-align: center
			margin-bottom: 15px
		vertical-align: middle
		font-family: $main-font-family
		font-weight: bold

	.fon-white
		background: rgba(100, 100, 100, 0.8) //rgba(255,255,255,0.73)
		width: 100%
		height: 100%

=style-for-tabs()
	.active
		color: $add-color2
		text-decoration: underline
	.tab
		+transition(all .2s ease)
		text-transform: uppercase
		cursor: pointer
	.tab_item
		color: $add-color2
		text-transform: uppercase
		font-family: "RobotoBold"
.tel
	text-align: right
	.js-wrapper
		+style-for-tabs()
	@media only screen and (max-width : 992px)
		text-align: center

.tabs-heder
	margin: 50px 0 20px
	@media only screen and (max-width : 768px)
		margin-top: 25px
	.tabs
		@media only screen and (max-width : 480px)
			&:after
				content: ""
				display: block
				width: 100%
				height: 5px
				background-color: $add-color2
		.tab
			display: inline-block
			@media only screen and (max-width : 480px)
				display: block
				width: 100%
				&.active
					font-weight: bold
			padding: 10px 25px
			background-color: rgba(255, 255, 255, .35)
			text-transform: uppercase
			float: left
			cursor: pointer
			font-family: "RobotoBold", sans-serif
			color: $add-color1
			/*+transition(all .2s ease)*/
			&.active
				background-color: rgba(255, 255, 255, .85)
				color: $add-color2
	.tab_content 
		ul, li
			margin: 0
			padding: 0
		li
			list-style-type: none
			min-height: 45px
			text-transform: uppercase
			position: relative
			top: 0 
			z-index: 1
			&:hover
				top: -3px
				z-index: 2
		h4
			padding: 14px 0 14px 65px
			margin: 0
			vertical-align: middle
		display: block
		background-color: rgba(255, 255, 255, .85)
		padding: 10px 25px 20px
		@media only screen and (max-width : 480px)
			padding: 10px	


		

.bg-image 
	height: 45px
	width: 45px
	float: left
	-webkit-background-size: cover
	background-size: cover

.caption
	margin-top: 80px
	color: $main-color
	h2
		font-weight: bold
		margin: 0
		font-family: "CleanvertisingLight"
	@media only screen and (max-width : 992px)
		margin-top: 40px
	@media only screen and (max-width : 768px)
		margin-top: 20px
		text-align: center

.button--wrappe
	text-align: right
	margin-top: 15px
	@media only screen and (max-width : 480px)
		text-align: center
	a
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff

=main-button()
	border: none
	cursor: pointer
	padding: 0 32px
	display: inline-block
	height: 45px
	line-height: 45px
	text-transform: uppercase
	border-radius: 5px
	color: #fff
	text-align: center
	text-decoration: none
	font-size: 16px
	font-family: "RobotoRegular"

.button
	+main-button()
	@media only screen and (max-width : 480px)
		padding: 0 16px
	&.btn_red
		background-color: $add-color2

a .button
	text-decoration: none
	color: #fff

.tizer
	padding: 30px 0
	text-align: center
	background-color: $add-color2
	h3 
		margin: 0 0 15px
.back_call
	padding: 80px 0
	text-align: center
	border-bottom: 30px solid $add-color1
	border-bottom-right-radius: 70% 15%
	border-bottom-left-radius: 70% 15%
	background-color: $add-color1
	h3
		text-transform: uppercase
	input
		margin: 20px 20px 0
		display: inline-block
		padding: 7px 7px 7px 20px
		&[type="submit"]
			padding: 7px 70px
			text-transform: uppercase
			border-radius: 5px
		


// section
// 	padding: 56px 0 68px
// 	h2
// 		color: $main-color
// 		line-height: 40px


@media only screen and (min-width : 1400px) and (min-height : 850px) 
	.caption 
		margin-top: 100px
	.tabs-heder
		margin-top: 100px
	.heder-logo-tel
		margin-top: 50px
@media only screen and (min-width : 2000px) and (min-height : 1100px) 
	.caption 
		margin-top: 200px
	.tabs-heder
		margin-top: 200px
	.heder-logo-tel
		margin-top: 100px
@media only screen and (min-width : 2500px) and (min-height : 1400px) 
	.caption 
		margin-top: 250px
	.tabs-heder
		margin-top: 250px
	.heder-logo-tel
		margin-top: 150px


	


	
